@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #22272e;
  font-family: "Inter", sans-serif;
}
/* Nav section*/
nav {
  color: #fff;
  background-color: #2c333b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 26px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

nav h1 {
  font-size: 18px;
}

nav img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Search section*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
#searchTitle {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.search-input {
  display: flex;
  margin-top: 25px;
}

.search-input input {
  height: 35px;
  width: 250px;
  padding-left: 15px;
  border-radius: 10px;
  margin-right: 5px;
  background-color: #d9d9d9;
}

input .success{
  border: 3px solid #4ECA64;
}

.search-button {
  color: #fff;
  background-color: #ff7c17;
  width: 85px;
  height: 35px;
  border: none;
  border-radius: 10px;
  align-items: center;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #ff8a31;
  box-shadow: rgba(202, 202, 208, 0.2) 0px 7px 29px 0px;
}

#refresh {
  cursor: pointer;
}
#refresh:hover {
  cursor: pointer;
  box-shadow: rgba(202, 202, 208, 0.2) 0px 7px 29px 0px;
}

/* Cards section*/
.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #d9d9d9;
  background-color: #2c333b;
  box-shadow: rgba(104, 102, 102, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px 30px 15px 30px;
  border-radius: 25px;
}

.avatar {
  margin: 15px;
  width: 150px;
  border-radius: 50%;
}

.card-info ul {
  list-style: none;
}
.card-info ul li {
  margin: 15px;
}

#bio{
  width: 15em;
  word-wrap: break-word;

}

.username {
  color: #ff7c17;
  font-weight: bold;
  margin-top: 20px;
}

.cards .card-info .follow{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

/* Repositories section*/

.card-repo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  flex-wrap: wrap;
  color: #d9d9d9;
  background-color: #2c333b;
  box-shadow: rgba(104, 102, 102, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  border-radius: 25px;
  width: 700px;
}

#repo-title {
  justify-content: flex-start;
}

.repositories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.repositories .repo {
  background-color: #22272e;
  padding: 10px;
  font-size: 14px;
  border-radius: 10px;
  margin: 8px;
}

.repositories .repo:hover {
  box-shadow: rgba(125, 77, 21, 0.35) 0px 5px 15px;
}

.repositories .repo a {
  text-decoration: none;
  color: #d9d9d9;
}

/* Footer section */
footer {
  display: flex;
  color: #fff;
  background-color: #2c333b;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-top: 1px;
}

footer a {
  color: #ff7c17;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  color: #ff8a31;
}
